body{
    user-select: none;
}
a{
    text-decoration: none;
    color: #4A82D7;
}
.header{
    cursor: default;
    display: block;
    align-content: center;
    text-align: center;

}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    background: #DADEDF;
    height: 0;
    line-height: 2em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    color: #4A82D7;
    cursor: default;
    display: block;
}
li.subject {
    height: 2em;
    margin: 2px 0;
}
li.studentList{
    background: none;
    list-style: none;
    line-height: 2em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    color: #4A82D7;
    cursor: default;
    display: block;
    height: 1%;
}
table{
    width: 100%;
    border: 10px;
    table-layout: fixed;
    align-content: center;
}
table.subjList{
    display: none;
    color: #4A82D7;
}
table.lessonList{
    display: table;
    color: #4A82D7;
}
th,td{
    padding: 5px;
    text-align: center;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}
#zatemnenie {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#okno {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    height: 30%;
    text-align: center;
    padding: 55px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #4A82D7;
}
#zatemnenie:target {display: block;}
.close {
    display: inline-block;
    border: 1px solid #4CAF50;
    color: #4A82D7;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor:pointer;
}
.close:hover {background: #e6e6ff;}
#ChangeButton{
    display: block;
    float: right
}
.container {
    padding: 16px;
}
.modal {
    display: block; /* Hidden by default */
    position: fixed;/* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 10px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}
#zatemnenieAddLesson{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#zatemnenieAddLesson:target {display: block;}
#oknoAdd {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    height: 30%;
    text-align: center;
    padding: 55px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #4A82D7;
}
#zatemnenieRemoveLesson{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#zatemnenieRemoveLesson:target {display: block;}
#oknoRemove {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    height: 30%;
    text-align: center;
    padding: 55px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #4A82D7;
}