<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: pageHead}"></head>
<body>
<div th:replace="~{fragments/header :: topBar('Teacher')}"></div>
<h3 th:text="'Schedule of group ' + ${groupId}">Group</h3>

<div>
    <ul id="mainList">
        <li class="subject" th:text="${subjectName}">Subject</li>
        <table class="lessonList">
            <tr>
                <th>Lesson</th>
                <th>Date</th>
            </tr>
            <tr th:each="lesson : ${lessons}">
                <td>
                    <a th:href="@{'/schedule/gr' + ${groupId} + '/' + ${subjectUrl} + '/' + ${#strings.replace(lesson.lessonName, ' ', '_')} + '/'}"
                       th:text="${lesson.lessonName}">Lesson</a>
                </td>
                <td th:text="${lesson.date}">Date</td>
            </tr>
        </table>
    </ul>
</div>

<div>
    <button><a href="/schedule/">To the main page</a></button>
    <button class="AddLessonButton"><a href="#zatemnenieAddLesson">Add Lesson</a></button>
    <button class="AddLessonButton"><a href="#zatemnenieRemoveLesson">Remove Lesson</a></button>
</div>

<div id="zatemnenieAddLesson">
    <div id="oknoAdd" class="modal animate">
        <form th:action="@{'/schedule/gr' + ${groupId} + '/' + ${subjectUrl} + '/'}" name="Change" method="post">
            <div class="container">
                <label for="date"><b>Date</b></label>
                <input type="date" id="date" name="Date" required>
            </div>
            <div class="container">
                <label for="lessonName"><b>Lesson Name<br></b></label>
                <textarea id="lessonName" name="LessonName" placeholder="Enter Lesson Name" required></textarea>
            </div>
            <div class="container">
                <button type="submit">Submit</button>
            </div>
        </form>
        <button class="close"><a href="#">Close</a></button>
    </div>
</div>

<div id="zatemnenieRemoveLesson">
    <div id="oknoRemove" class="modal animate">
        <form th:action="@{'/schedule/gr' + ${groupId} + '/' + ${subjectUrl} + '/'}" name="rmv" method="post">
            <div class="container">
                <label for="removeLessonName"><b>Lesson name</b></label>
                <select id="removeLessonName" name="Lesson" required="required">
                    <option value="">Chose lesson</option>
                    <option th:each="lesson : ${lessons}"
                            th:value="${lesson.lessonName}"
                            th:text="${lesson.lessonName}">Lesson</option>
                </select>
            </div>
            <div class="container">
                <button type="submit">Submit</button>
            </div>
        </form>
        <button class="close"><a href="#">Close</a></button>
    </div>
</div>

</body>
</html>
